@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Oleo+Script+Swash+Caps&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main{
    width: 90%;
    height: 95%;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.menu-main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-main a{
    text-decoration: none;
    color: #9BA4B4;
    font-size: 60px;
    font-family: 'Oleo Script Swash Caps', cursive;
    transition: .3s;
    text-align: center;
}

.menu-main span{
    color: #9BA4B4;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 60px;
}

.menu-main a:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: rgb(238, 239, 251);
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.62);
}

.is-title{
    width: 100%;
    height: 40%;
    margin: 20px 0;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: #9BA4B4;
    font-size: 32px;
}

.is-sub-title{
    height: 20%;
    margin: 20px 0;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    color: #9BA4B4;
    font-size: 20px;
    padding: 0 15px;
}

.is-sub-title a{
    margin-top: 10px;
    text-decoration: none;
    color: #FF6180;
}

.is-signin{
    width: 100%;
    height: 60%;
}

.signin-email{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #9BA4B4;
}

.email-psw{
    height: 80%;
    margin-bottom: 20px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.remermer-forgot{
    height: 20%;
    margin-bottom: 10px;
}

.email-psw input{
    background: none;
    border: none;
    border-bottom: 2px solid #9BA4B4;
    margin: 25px 0;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    color: #9BA4B4;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.email-psw input:focus{
    outline: none;
}

.is-terms{
    width: 100%;
    height: 20%;
}

.signin-email button{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: none;
    border: 4px solid #FF6180;
    color: #FF6180;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.signin-email button:hover{
    animation: slideBtn 1s infinite ;
    cursor: pointer;
}

@keyframes slideBtn {
    0%{
        background: none;
    }
    50%{
        background-color:#FF6180;
        color: white;
    }
    100%{
        background: none;
    }
}

@media (min-width:1024px){
    .main{
        padding: 20px 30%;
    }
}